article {
  float: left; 
  width: 100%;
}
.anh{
	float: left;
	width:35%;
	margin-top:19px;
}
.em{
	float: left;
	width:35%;
	padding-left: 120px;
}

.TieuDe{
    color: red;
    font-family: SFD-Bold;
    font-size: 30pxs !important;
    font-weight: normal;
    text-decoration: none;
    letter-spacing: 0;
    font-weight: bold;
}


.paragraph{



}